* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
}